# <?> - change accordingly

# postgres
POSTGRES_USER=<?> # eg. postgres
POSTGRES_PASSWORD=<?> # eg. postgres
POSTGRES_DB=<?> # eg. db

# goose
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="host=<?> port=<?> user=<?> password=<?> dbname=<?> sslmode=disable" 
# eg. "host=localhost port=6969 user=postgres password=postgres dbname=db sslmode=disable"
GOOSE_MIGRATION_DIR="./internal/database/migrations"