package web

type TenantCardProps struct {
	name            string
	unit            string
	status          string // TODO: change to status enum
	rentAmount      string
	lastPaymentDate string // TODO: change type to datetime
	email           *string
	phoneNumber     *string
}

templ TenantCard() {
	<style>
    
    </style>
	<div></div>
}
