package page

import "github.com/Se7enSe7enSe7en/tenant-manager/internal/web/component/layout"
import "github.com/Se7enSe7enSe7en/tenant-manager/internal/web/component/button"
import "github.com/Se7enSe7enSe7en/tenant-manager/internal/utils"
import "github.com/Se7enSe7enSe7en/tenant-manager/internal/web/component/form"
import "github.com/Se7enSe7enSe7en/tenant-manager/internal/store"

type CreateTradePageProps struct {
	LeaseId            string
	TenantName         string
	PropertyName       string
	RentValidityPeriod string
	RentAmount         string
	TransactionDate    string
}

templ CreateTradePage(props CreateTradePageProps) {
	{{
		signals := utils.Signals("create_trade_signals", store.CreateTradeSignals{
			LeaseId: props.LeaseId,
		})
	}}
	@layout.WithSidebar() {
		@form.Form(form.FormArgs{
			ID:     "trade-form",
			Action: "/trade/create",
			Attributes: templ.Attributes{
				"data-signals":            signals.DataSignals,
				"data-on:submit__prevent": "@post('/trade/create')",
			},
		}) {
			<div class="flex flex-col items-center justify-center gap-3">
				<p>🚧 Under construction 🚧</p>
				<div class="flex flex-col gap-3">
					<div class="bg-card rounded-xl p-5 border shadow-sm h-60 flex flex-col justify-between">
						<p>Receipt details</p>
						<p>Lease id: { props.LeaseId }</p>
						<p>tenant name: { props.TenantName }</p>
						<p>property name: { props.PropertyName }</p>
						<p>rent validity period: { props.RentValidityPeriod }</p>
						<p>rent amount: { props.RentAmount }</p>
						<p>transaction date: { props.TransactionDate }</p>
					</div>
					<div class="flex justify-between">
						@button.LinkButton(button.LinkButtonArgs{
							Variant: "secondary",
							Href:    "/dashboard",
						}) {
							Cancel
						}
						@button.Button(button.ButtonArgs{
							Type: "submit",
						}) {
							Confirm
						}
					</div>
				</div>
			</div>
		}
	}
}
