package page

type CreatePropertyVM struct {
	Name       string
	RentAmount float32
}

templ CreatePropertyPage() {
	@Base() {
		<div class="p-8 w-full justify-center bg-accent border">
			<h1>HELLO WORLD</h1>
			// @form.Item() {
			// 	@form.Label(form.LabelProps{
			// 		For: "property-form",
			// 	}) {
			// 		Property
			// 	}
			// 	@input.Input(input.Props{
			// 		ID:   "property-form",
			// 		Type: input.TypeText,
			// 	})
			// }
		</div>
	}
}
