package page

import "github.com/Se7enSe7enSe7en/tenant-manager/internal/web/component/tenantcard"
import "github.com/Se7enSe7enSe7en/tenant-manager/internal/web/component/statcard"
import "github.com/Se7enSe7enSe7en/tenant-manager/internal/web/component/propertycard"

import "github.com/Se7enSe7enSe7en/tenant-manager/internal/web/component/layout"
import "github.com/Se7enSe7enSe7en/tenant-manager/internal/web/component/button"

type StatCard struct {
	TotalTenants       string
	TotalPaidTenants   string
	TotalUnpaidTenants string
	TotalLateTenants   string
}

type DashboardPageProps struct {
	TenantList   []tenantcard.TenantCardProps
	PropertyList []propertycard.PropertyCardProps
	StatCard     StatCard
}

templ DashboardPage(props DashboardPageProps) {
	@layout.Base() {
		<div class="p-4 max-w-7xl mx-auto ">
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-col-4 xl:grid-cols-4 gap-4 mb-8">
				@statcard.StatCard(statcard.StatCardProps{
					Title:     "Total tenants",
					Value:     props.StatCard.TotalTenants,
					Subtitle:  "Active units",
					Icon:      "/assets/tenants-icon.svg",
					IconClass: "fill-current",
				})
				@statcard.StatCard(statcard.StatCardProps{
					Title:     "Paid",
					Value:     props.StatCard.TotalPaidTenants,
					Subtitle:  "Collected payments",
					Icon:      "/assets/paid-icon.svg",
					IconClass: "fill-(--paid-color)",
				})
				@statcard.StatCard(statcard.StatCardProps{
					Title:     "Unpaid",
					Value:     props.StatCard.TotalUnpaidTenants,
					Subtitle:  "Awaiting payments",
					Icon:      "/assets/unpaid-icon.svg",
					IconClass: "fill-(--unpaid-color)",
				})
				@statcard.StatCard(statcard.StatCardProps{
					Title:     "Late",
					Value:     props.StatCard.TotalLateTenants,
					Subtitle:  "Overdue payments",
					Icon:      "/assets/late-icon.svg",
					IconClass: "fill-(--late-color)",
				})
			</div>
			<div class="my-3 flex gap-3">
				<p class="text-2xl">Tenants and Properties</p>
				@button.LinkButton(button.LinkButtonArgs{
					Variant: "secondary",
					Href:    "/property/create",
				}) {
					<div class="flex items-center justify-center gap-2">
						<svg class="fill-current size-6"><use href="/assets/add-icon.svg"></use></svg>
						<span>Add property</span>
					</div>
				}
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-col-3 xl:grid-cols-3 gap-4">
				for _, property := range props.PropertyList {
					@propertycard.PropertyCard(property)
				}
				for _, tenant := range props.TenantList {
					@tenantcard.TenantCard(tenant)
				}
			</div>
		</div>
	}
}
