package topbar

templ Topbar() {
	<div class="flex h-16 border sticky top-0 bg-background items-center p-4">
		<div class="flex gap-4 items-center">
			<img class="h-12 rounded-sm" src="/assets/tenant-manager-logo-dark.svg"/>
			<h1 class="text-xl">Tenant manager</h1>
		</div>
	</div>
}
