package status

import "github.com/Se7enSe7enSe7en/tenant-manager/internal/utils"

templ Circle(props CircleProps) {
	<span
		class={ utils.ClassNameJoin(
            "flex aspect-square rounded-full border", 
            statusColorClassName(props.Status)) }
		data-tooltip={ props.Status.String() }
	>
		<div class="flex aspect-square size-12 items-center justify-center">
			<span class="flex items-center justify-center">
				<span>⬤</span>
			</span>
		</div>
	</span>
}
