package sidebar

import "github.com/Se7enSe7enSe7en/tenant-manager/internal/web/component/button"

templ Sidebar() {
	<div>
		@button.LinkButton(button.LinkButtonArgs{
			Href:    "/property/create",
			Variant: "outline",
			Class:   "flex",
		}) {
			Add property
		}
	</div>
}
